spring:
  application:
    name: cross-org-talent-manager
  # redis  缓存配置
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      password:
      ttl: 3600  # 缓存过期时间（秒）

  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cross_org_talent_manager
    username: root
    password: a600523
  profiles:
    active: local

server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.crossorgtalentmanager.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
